  <div class="row mb-4">
    <!-- Colonne pour Nom de la demande -->
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="nomDemandeDevis">Nom de la demande :</label>
        <input type="text" id="nomDemandeDevis" formControlName="nom" class="form-control">
        <div *ngIf="demandeDevisForm.get('nom').invalid && (demandeDevisForm.get('nom').dirty || demandeDevisForm.get('nom').touched)" class="text-danger">
          <div *ngIf="demandeDevisForm.get('nom').errors.required">Nom est requis.</div>
        </div>
      </div>
    </div>
    
    <!-- Colonne pour Fournisseur -->
    <div class="col-md-6 mb-3">
      <label for="fournisseur">Fournisseur :</label>
      <dx-select-box id="fournisseur" formControlName="fournisseurId" 
        [dataSource]="fournisseurs" displayExpr="nom" valueExpr="id">
      </dx-select-box>
    </div>
  </div>
  
  <!-- Deuxième ligne avec Description -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="form-group">
        <label for="descriptionDemandeDevis">Description :</label>
        <textarea id="descriptionDemandeDevis" formControlName="description" class="form-control"></textarea>
        <div *ngIf="demandeDevisForm.get('description').invalid && (demandeDevisForm.get('description').dirty || demandeDevisForm.get('description').touched)" class="text-danger">
          <div *ngIf="demandeDevisForm.get('description').errors.required">Description est requise.</div>
        </div>
      </div>
    </div>
  </div>
