<div class="demande-details">
    <h2 class="demande-titre">Informations sur les demandes de devis: </h2>
    <div *ngIf="fournisseurs[demandeDevis.id]">
      <div class="demande-details-petit mt-3">
        <h3 class="demande-titre-petit">Fournisseur:</h3>
      <div class="detail-item">
        <div class="detail-label ">Nom:</div>
        <div class="detail-value">{{ fournisseurs[demandeDevis.id]?.nom }} </div>
    </div>
    <div class="detail-item">
      <div class="detail-label ">Adresse email:</div>
      <div class="detail-value">{{ fournisseurs[demandeDevis.id]?.email }} </div>
  </div><div class="detail-item">
    <div class="detail-label ">Téléphone:</div>
    <div class="detail-value">{{ fournisseurs[demandeDevis.id]?.tel }} </div>
  </div><div class="detail-item">
    <div class="detail-label ">Adresse:</div>
    <div class="detail-value">{{ fournisseurs[demandeDevis.id]?.adresse }} </div>
  </div>
  </div>
      <!-- Ajoutez d'autres champs du fournisseur si nécessaire -->
  </div>
  <div class="demande-details-petit mt-5">
    <h3 class="demande-titre-petit">Demande devis ({{demandeDevis.reference}}):</h3>
    <div *ngIf="demandeDevis">
      <h5>{{ demandeDevis.description }}</h5>
      <ul class="demande-list mt-3">
            <div class="detail-item">
              <span class="detail-label">Date de la demande:</span>
              <span class="detail-value">{{ demandeDevis.datedemande | date }}</span>
            </div>
            
           
          <!-- Grid des produits commandés -->
          <dx-data-grid
            id="gridContainer"
            [dataSource]="produitCommandeeMap[demandeDevis.id]"
            keyExpr="id"
            [showBorders]="true"
            class="produit-grid mt-3">
            <dxi-column dataField="nom" caption="Nom du produit"></dxi-column>
            <dxi-column dataField="description" caption="Description"></dxi-column>
            <dxi-column dataField="quantite" caption="Quantité" dataType="number"></dxi-column>
            <dxi-column caption="Image" [width]="80" [cellTemplate]="'imageTemplate'"></dxi-column>
  
            <!-- Template pour afficher l'image -->
            <div *dxTemplate="let data of 'imageTemplate'">
              <img src="assets/img/{{data.data.img}}" alt="Image Preview" style="max-width: 50px; height: auto;">
            </div>
          </dx-data-grid>
      </ul>
    </div>
    
    <div *ngIf="offre" class="demande-details-plus-petit mt-5">
      <h2 class="demande-titre-plus-petit">Offre: </h2>
      <h5>{{offreMap[demandeDevis.id].description}}</h5>
      <div class="detail-item">
        <div class="detail-label ">Nom de la demande:</div>
        <div class="detail-value">{{ offreMap[demandeDevis.id].nom }} </div>
    </div>
   
    <div class="detail-item">
        <div class="detail-label ">Description:</div>
        <div class="detail-value"> </div>
    </div>
    <div class="detail-item">
        <div class="detail-label ">Date de l'offre:</div>
        <div class="detail-value">{{ offreMap[demandeDevis.id].dateoffre }} </div>
    </div>
    <div class="detail-item">
      <div class="detail-label ">Réference de l'offre:</div>
      <div class="detail-value">{{ offreMap[demandeDevis.id].referenceoffre }} </div>
    </div>
  <div class="detail-item">
    <div class="detail-label ">Prix de l'offre:</div>
    <div class="detail-value">{{ offreMap[demandeDevis.id].prix }} DT</div>
  </div>
  <dx-data-grid
            id="gridContainer"
            [dataSource]="produitOffertMap[offreMap[demandeDevis.id].id]"
            keyExpr="id"
            [showBorders]="true"
            class="custom-grid mt-3"
            >
            <dxi-column dataField="nom" caption="Nom du produit"></dxi-column>
            <dxi-column dataField="description" caption="Description"></dxi-column>
            <dxi-column dataField="quantite" caption="Quantité" dataType="number"></dxi-column>
            <dxi-column caption="Image" [width]="80" [cellTemplate]="'imageTemplate'"></dxi-column>
  
            <!-- Template pour afficher l'image -->
            <div *dxTemplate="let data of 'imageTemplate'">
              <img src="assets/img/{{data.data.img}}" alt="Image Preview" style="max-width: 50px; height: auto;">
            </div>
        
          </dx-data-grid>
          <div class="demande-details-boncommande mt-3">
            <h2 class="demande-titre-boncommande">Bon de Commande :</h2>
            <div *ngFor="let produit of produitsGroupedByBonCommande | keyvalue"  class="demande-details-boncommande mt-3">
              <h2 class="demande-titre-boncommande">Bon de Commande ({{ produit.value[0].bonCommande.reference }})</h2>
              
                <div class="bon-commande-group">
                  <div class="detail-item">
                    <div class="detail-label bordeaux">Numéro:</div>
                    <div class="detail-value">{{ produit.value[0].bonCommande.numero }}</div>
                  </div>
                  <div class="detail-item">
                    <div class="detail-label bordeaux">Date:</div>
                    <div class="detail-value">{{ produit.value[0].bonCommande.dateboncommande}} </div>
                  </div>
                  <div class="detail-item">
                    <div class="detail-label bordeaux">Adresse livraison:</div>
                    <div class="detail-value">{{produit.value[0].bonCommande.adresselivraison}} <a 
                      href="https://www.google.com/maps/search/?api=1&query={{produit.value[0].bonCommande.adresselivraison}}" 
                      target="_blank" 
                      rel="noopener noreferrer"
                   >Voir map</a></div>
                </div>
                  <div class="detail-item">
                    <div class="detail-label bordeaux">Délai livraison:</div>
                    <div class="detail-value">{{produit.value[0].bonCommande.delailivraison}} </div>
                </div>
                <div class="detail-item">
                  <div class="detail-label bordeaux">Type livraison:</div>
                  <div class="detail-value">{{produit.value[0].bonCommande.typelivraison}} </div>
              </div>
                
                  <dx-data-grid
                    [dataSource]="produit.value"
                    keyExpr="id"
                    [showBorders]="true"
                    class="custom-grid-blue mt-3">
                    <dxi-column dataField="nom" caption="Nom du produit"></dxi-column>
                    <dxi-column dataField="description" caption="Description"></dxi-column>
                    <dxi-column dataField="quantite" caption="Quantité" dataType="number"></dxi-column>
                    <dxi-column caption="Image" [width]="80" [cellTemplate]="'imageTemplate'"></dxi-column>
              
                    <!-- Template to display the product image -->
                    <div *dxTemplate="let data of 'imageTemplate'">
                      <img src="assets/img/{{data.data.img}}" alt="Image Preview" style="max-width: 50px; height: auto;">
                    </div>
                  </dx-data-grid>
                </div>
              
          </div>
        </div>
        
  </div>
  </div>
  </div>
  <button *ngIf="!offre"
      class="btn btn-success btn-rounded mb-1 mr-1 float-right"
      mdbRipple
      style="background-color: green; font-weight: bold; color: white;"
      type="button"
      (click)="goToAddOffre()">
      Offrir
    </button>
    
  
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const maxTitleLength = 20; // Adjust these values as needed
    const maxDescriptionLength = 50;
    const maxQuantityLength = 10;

    const productTitle = document.querySelector('.product-title');
    const productDescription = document.querySelector('.product-description');
    const productQuantity = document.querySelector('.product-quantity');

    const insertLineBreaks = (element, maxLength) => {
        const text = element.innerText;
        let result = '';
        for (let i = 0; i < text.length; i += maxLength) {
            result += text.substr(i, maxLength) + '<br>';
        }
        element.innerHTML = result;
    };

    insertLineBreaks(productTitle, maxTitleLength);
    insertLineBreaks(productDescription, maxDescriptionLength);
    insertLineBreaks(productQuantity, maxQuantityLength);
});

</script>