<dx-data-grid
  #dataGridDemande
  [showBorders]="true"
  [allowColumnResizing]="true"
  [dataSource]="dataSourceElement"
  [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
  [rowAlternationEnabled]="true"
  [showColumnLines]="true"
  (onRowDblClick)="Editdemande($event.data.id)"
  keyExpr="id"
  class="dataGridDemande">

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>

  <dxi-column dataField="reference" dataType="string"></dxi-column>
  <dxi-column dataField="nom" dataType="string"></dxi-column>
  <dxi-column dataField="description" dataType="string"></dxi-column>
  <dxi-column dataField="datedemande"></dxi-column>
  <dxi-column caption="fournisseur" dataField="fournisseur.email"></dxi-column>
  <dxi-column [caption]="''" [cellTemplate]="'cellTemplateActions'"></dxi-column>

  <!-- Template personnalisé pour afficher le lien dans la colonne sans titre -->
  <div *dxTemplate="let data of 'cellTemplateActions'"
  style="display: flex; justify-content: center; align-items: center;">
<a
 href="javascript:void(0)"
 (click)="goToAddOffre(data.data.id)"
 class="offer-link">
 Offrir
</a>
</div>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <div *dxTemplate="let demandeDevis of 'detail'">
    <div class="master-detail-caption">{{
     "cette demande de devis " + demandeDevis.data.nom + "avec l'id " + demandeDevis.data.id + " est envoyé au fournisseur " + demandeDevis.data.fournisseurId +" dt"
    }}</div>
    <app-hover-demande-devis [demandeDevisId]="demandeDevis.data.id"></app-hover-demande-devis>
  </div>
 


  <dxo-pager
    [allowedPageSizes]="allowedPageSizes"
    [showInfo]="true"
    [showPageSizeSelector]="true"
    [visible]="true"
    displayMode="full"
    [showNavigationButtons]="true">
  </dxo-pager>

</dx-data-grid>
<dx-popup
    [maxWidth]="940"
    [width]="500"
    [height]="'auto'"
    [showTitle]="true"
    title="Ajouter un nouvel article"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupAddVisible">
    <div>
        <dx-data-grid
          [dataSource]="dataSourceElementD"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
          [rowAlternationEnabled]="true"
          [showColumnLines]="true"
          keyExpr="id">
          
          <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
          <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>
          
          <dxi-column dataField="id" dataType="number"></dxi-column>
          <dxi-column dataField="nom" dataType="string"></dxi-column>
          <dxi-column dataField="description" dataType="string"></dxi-column>
          <dxi-column dataField="quantite" dataType="number"></dxi-column>
          <dxi-column dataField="fournisseurName" dataType="string" caption="Fournisseur"></dxi-column>
          
          <dxo-pager
            [allowedPageSizes]="allowedPageSizes"
            [showInfo]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
            displayMode="full"
            [showNavigationButtons]="true">
          </dxo-pager>
        </dx-data-grid>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2" (click)="closeAddPopup()">Annuler</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <!-- Vous pouvez ajouter un bouton pour ajouter des articles ici -->
            <!--button type="submit" class="btn btn-success me-md-2" (click)="saveNewItem($event)">Ajouter</button-->
        </div>
    </div>
</dx-popup>
<dx-popup
        [maxWidth]="940"
        [width]="500"
        [height]="'auto'"
        [showTitle]="true"
        title="Confirmation de la suppression"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupDeleteVisible">
    <div>
        <p> Êtes-vous sûr de vouloir supprimer cet élément ? </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2"
                    (click)="fermerPopup()">Annuler
            </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button type="submit" class="btn btn-success me-md-2"
                    (click)="deletedemande()">Confirmer
            </button>
        </div>
    </div>
</dx-popup>
