.hovered-product-details {
    position: relative; /* Utilisez relative pour qu'il soit positionné par rapport à la ligne */
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 10px;
  }
  .demande-details-petit {
    background-color: #fafafa; /* Légèrement plus clair pour plus de douceur */
    border: 1px solid #ececec; /* Couleur de bordure plus claire et plus douce */
    border-radius: 10px; /* Arrondis légèrement plus marqués pour un effet plus doux */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Ombre plus légère et subtile */
    position: relative;
  }
  .demande-titre-petit {
    position: absolute;
    top: -15px; /* Ajustez cette valeur selon vos besoins */
    left: 20px; /* Ajustez cette valeur selon vos besoins */
    background: linear-gradient(to bottom, #f5f5f5, #fafafa);
    padding: 0 10px;
    font-size: 24px;
    color: #8B0000;
  }