.highlight-match {
    background-color: lightgreen; /* Couleur de fond verte pour la mise en évidence */
    font-weight: bold; /* Texte en gras pour la mise en évidence */
  }
  .highlight-non-match {
    background-color: lightcoral; /* Couleur de fond rouge pour la mise en évidence */
    font-weight: bold; /* Texte en gras pour la mise en évidence */
  }