/* Add your custom styles here */
/*.container {
  max-width: 800px;
}*/

.form-group {
  margin-bottom: 20px;
}

.text-danger {
  font-size: 0.875em;
  margin-top: 5px;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}
.butttons-style {
  background-color: green;
  font-weight: bold;
  color: white;
}
.return-button {
  color: white;
  background-color: #b60808;
}