<div>
  <!--        <div  class="card-header text-center bg-secondary  text-white" style="background-color: #242f50 !important;">-->
  <!--            <h5> {{'caseRequest.TitleRqEdit'|translate}} ({{demandeForm.requestCaseNumber}})</h5>-->
  <!--        </div>-->
  <div>
      <div class="card-header text-center bg-secondary  text-white" style="background-color: #0096a6  !important;">
          <div class="col-md-12" style="text-align: center;" *ngIf="demandeForm!=undefined">
              <h5> Process Bon de commande ({{objectData.id}})</h5>


          </div>
          <div  >
              <a (click)="showPopupWF()" rel="noopener" target="_blank" title="">
                  <div class="icon-container"  title="{{'show-event.Voir la liste des événements' | translate}}">
                     <i class="fas fa-project-diagram"></i>
                  </div>
              </a>
          </div>

      </div>
  </div>
</div>
<div class="demande-details" *ngIf="bonCommande">
    <h2 class="details-title">Détails du bon de commande</h2>
    <div class="details-info">
        <div class="detail-item">
          <div class="detail-label bordeaux">Date de création du bon de commande</div>
          <div class="detail-value">{{ bonCommande.dateboncommande }}</div>
        </div>
        <div class="detail-item">
          <div class="detail-label bordeaux">Réference du bon de commande:</div>
          <div class="detail-value">{{ bonCommande.reference }}</div>
        </div>
        <div class="detail-item">
          <div class="detail-label bordeaux">Nom d'netreprise:</div>
          <div class="detail-value">{{ bonCommande.nomentreprise }}</div>
        </div>
        <div class="detail-item">
          <div class="detail-label bordeaux">Adresse d'entreprise:</div>
          <div class="detail-value">{{ bonCommande.adresseentreprise }}</div>
        </div>
        <div class="detail-item">
            <div class="detail-label bordeaux">Modalité de livraison:</div>
            <div class="detail-value">{{ bonCommande.typelivraison }}</div>
          </div>
          <div class="detail-item">
            <div class="detail-label bordeaux">delai de livraison:</div>
            <div class="detail-value">{{ bonCommande.delailivraison }}</div>
          </div>
          <div class="detail-item">
            <div class="detail-label bordeaux">Informations de paiement:</div>
            <div class="detail-value">{{ bonCommande.infopaiement }}</div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <!--            <button (click)="Return()" class="btn btn-light" mdbRipple type="button">Annuler</button>-->
            <!--            <button class="btn btn-success me-md-2" mdbRipple type="submit">Confirmer</button>-->
            <app-workflow-decision
                    *ngIf="demandeForm &&(demandeForm['workflow']!=undefined ||!(this.demandeForm.userPermission == 'WRITE')) "
                    (decisionEvent)="Confirmation($event)"
                    (RetournEvent)="Return()"
                    [access]="demandeForm['userPermission'] === 'READ' || demandeForm['userPermission'] === 'NONE'"
                    [decisions]="decissionWF"
                    [object]="demandeForm"
                    [SaveObject]="demandeForm">
            </app-workflow-decision>
    
            <!--        <div class="d-grid gap-2 d-md-flex justify-content-md-between">-->
            <!--            <button mdbRipple class="btn btn-light" type="button" (click)="Return()">Annuler</button>-->
            <!--            <button mdbRipple class="btn btn-success me-md-2" type="submit" >Confirmer</button>-->
    
        </div>
      </div>
</div>
<dx-popup
[showCloseButton]="true"
[maxWidth]="'auto'"
[width]="popupWidth"
[height]="popupHeight"
[showTitle]="false"
title="Workflow Viewer"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="popupViewerVisible">
<div *dxTemplate="let data of 'content'">
<app-journal [viewerUrl]="objectData.workflow.wfProcessID" [historicsWF]="objectData.workflow.historicWF" [historicsEvt]="objectData.events"
             [historicsAcces]="objectData.userActivity"></app-journal>
</div>
</dx-popup>