<div class="demande-details"*ngIf="produitsSelectionnes.length > 0">
    <h2 class="demande-titre ">Détails de fournisseur:</h2>
        <div class="detail-item">
            <div class="detail-label bordeaux">Nom du fournisseur:</div>
            <div class="detail-value">{{ produitsSelectionnes[0].offre.fournisseur.nom}}</div>
        </div>
       
		<div class="detail-item">
            <div class="detail-label bordeaux">email du fournisseur:</div>
            <div class="detail-value">{{ produitsSelectionnes[0].offre.fournisseur.email}}</div>
        </div>
        <div class="detail-item">
            <div class="detail-label bordeaux">Téléphone du fournisseur:</div>
            <div class="detail-value">+216 {{ produitsSelectionnes[0].offre.fournisseur.tel}}</div>
        </div>
		<div class="detail-item">
            <div class="detail-label bordeaux">adresse du fournisseur:</div>
            <div class="detail-value">{{ produitsSelectionnes[0].offre.fournisseur.adresse}}</div>
        </div>
        <!-- Autres détails à afficher -->
    
</div>
	<form id="bon-de-commande">
		<div class="demande-details">
			<h2 class="demande-titre">Détails du bon de commande </h2>
			<div class="form-container">
			<form [formGroup]="demandeF">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="numero" class="form-label">Numéro de commande :</label>
						<input type="text" class="form-control" formControlName="numero" id="numero" disabled>
					</div>
					<div class="form-group col-md-6">
						<label for="reference" class="form-label">Référence du bon de commande :</label>
						<input type="text" class="form-control" id="reference"  formControlName="reference" disabled>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="demande-details">
		<h2 class="demande-titre">Détails de livraison </h2>
		<div class="form-container">
			<form [formGroup]="demandeF">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="delailivraison" class="form-label">Délai de livraison :</label>
						<input type="date" class="form-control" id="delailivraison" formControlName="delailivraison">
					</div>
					<div class="form-group col-md-6">
						<label for="typelivraison" class="form-label">Modalités de livraison :</label>
						<select class="form-control" id="typelivraison" formControlName="typelivraison">
							<option *ngFor="let option of typeLivraisonOptions" [value]="option">{{ option }}</option>
						</select>
					</div>
				</div>
				<div *ngIf="isDomicileSelected" class="form-row mt-3">
					<div class="form-group col-md-12">
					  <label for="adresselivraison" class="form-label">Adresse Livraison :</label>
					  <div class="d-flex align-items-center">
						<input type="text" style="width: 1000px;" class="form-control mr-2" id="adresselivraison" formControlName="adresselivraison" placeholder="Adresse de livraison" readonly>
						<button class="btn btn-rounded" style="font-weight: bold; background-color: #8B0000; color: white;" (click)="ouvrirCarte()">Choisir l'adresse</button>
					  </div>
					  <div *ngIf="afficherCarte" class="modal fade show" style="display: block;" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 90%; margin: auto;">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title">Sélectionnez l'adresse</h5>
							  <button type="button" class="close" (click)="fermerCarte()" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
							  <p style="margin: 0;">Coordonnées : {{ latitude }},{{ longitude }}</p>
							  <div id="map" style="height: 400px; width: 100%; margin-top: 10px;"></div> <!-- Ajuster la hauteur ici -->
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-rounded" style="font-weight: bold; background-color: #8B0000; color: white;" (click)="confirmerAdresse()">Confirmer l'adresse</button>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  <div *ngIf="isPointDeVenteSelected" class="form-row mt-3">
					<div class="form-group col-md-12">
					  <label for="pointDeVente" class="form-label">Point de Vente :</label>
					  <div class="d-flex align-items-center">
						<input type="text" style="width: 1000px;" class="form-control mr-2" id="adresselivraison" formControlName="adresselivraison" placeholder="Point de vente" readonly>
					  </div>
					</div>
				  </div>
				  
			</form>
			
	</div>
</div>
	</form>
	<div class="demande-details mt-5">
		<h2 class="demande-titre">Détails du produit</h2>
<dx-data-grid
  [dataSource]="produitsSelectionnes" 
  [showBorders]="true">
  
  <dxi-column dataField="nom" caption="Nom du Produit"></dxi-column>
  <dxi-column dataField="description" caption="Description"></dxi-column>
  <dxi-column caption="Image" [width]="80" [cellTemplate]="'imageTemplate'"></dxi-column>
  <div *dxTemplate="let data of 'imageTemplate'">
	<img src="assets/img/{{data.data.img}}" alt="Image Preview" style="max-width: 50px; height: auto;">
  </div>
  <dxi-column dataField="quantite" caption="Quantité" [width]="80"></dxi-column>
  <dxi-column dataField="prix" caption="Prix"  [customizeText]="customizeTotalText" [width]="80"></dxi-column>
  <dxi-column
  caption="Total"
  [width]="150"
  [calculateCellValue]="calculateTotalPrice"
  [customizeText]="customizeTotalText">
</dxi-column>
</dx-data-grid>
		</div>
		<button (click)="createBonCommande()"
		class="btn btn-success btn-rounded mb-1 mr-1"
		  mdbRipple
		  style="font-weight: bold; color: white; margin-left: 1010px;"
		  type="button">
		 Envoyer le bon de commande
		  </button>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>		