
<dx-data-grid
    #dataGridDemande
    [showBorders]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [dataSource]="dataSourceElement"
    [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
    [rowAlternationEnabled]="true"
    [showColumnLines]="true"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onRowUpdating)="onRowUpdating($event)"
    (onRowRemoving)="onRowRemoving($event)"

    keyExpr="id"
    class="dataGridDemande"
>   
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-group-panel [visible]="true"></dxo-group-panel>
<dxo-scrolling mode="virtual"></dxo-scrolling>
 <dxo-editing
mode="row"
allowUpdating="true"
allowDeleting="true">
</dxo-editing>
    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>
    <dxi-column dataField="nom" dataType="string"></dxi-column>
    <dxi-column dataField="description" dataType="string"></dxi-column>
    <dxi-column dataField="quantite" dataType="number"></dxi-column>
    <dxi-column caption="Image" [width]="80" [cellTemplate]="'imageTemplate'"></dxi-column>

    <!-- Template pour afficher l'image -->
    <div *dxTemplate="let data of 'imageTemplate'">
      <img src="assets/img/{{data.data.img}}" alt="Image Preview" style="max-width: 50px; height: auto;">
    </div>
    <dxo-pager
        [allowedPageSizes]="allowedPageSizes"
        [showInfo]="true"
        [showPageSizeSelector]="true"
        [visible]="true"
        displayMode="full"
        [showNavigationButtons]="true">
    </dxo-pager>
</dx-data-grid>

<dx-popup
    [maxWidth]="940"
    [width]="'500'"
    [height]="'auto'"
    [showTitle]="true"
    title="Confirmation de la suppression"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupDeleteVisible"
>
    <div>
        <p> Êtes-vous sûr de vouloir supprimer cet élément ? </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2" (click)="fermerPopup()">Annuler</button>
        </div>
    </div>
</dx-popup>

<dx-popup
    [width]="'60%'"
    [height]="'auto'"
    [showTitle]="true"
    title="Ajouter un nouvel article"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupAddVisible">
    <div>
        <dx-form #formref [formData]="formDataP">
          <dxi-item 
          dataField="categorie" 
          [editorType]="'dxSelectBox'" 
          [editorOptions]="categoryOptions"
          (onValueChanged)="onCategorieChange($event)">
          <dxi-validation-rule type="required" message="La catégorie est obligatoire"></dxi-validation-rule>
        </dxi-item>
            <dxi-item dataField="nom" [editorType]="'dxTextBox'"
            [editorOptions]="{
              placeholder: 'Entrez le nom du produit', 
              maxLength: 50, 
              showClearButton: true
            }">
    <dxi-validation-rule type="required" message="Le nom est obligatoire"></dxi-validation-rule>
  </dxi-item>
  <dxi-item>
    <dx-file-uploader
    selectButtonText="télécharger l'image"
    labelText="ou déposez ici"
    accept="*"
    uploadMode="useForm"
    [allowCanceling]="true"
    (change)="onFileChange($event)"
  ></dx-file-uploader>
  <dxi-validation-rule type="required" message="L'image est obligatoire"></dxi-validation-rule>

  </dxi-item>
  

  <!-- Champ Quantité avec validation de valeurs min/max -->
  <dxi-item dataField="quantite" [editorType]="'dxNumberBox'"
            [editorOptions]="{
              placeholder: 'Entrez la quantité', 
              min: 1, 
              max: 1000, 
              showSpinButtons: true, 
              step: 1
            }">
    <dxi-validation-rule type="required" message="La quantité est obligatoire"></dxi-validation-rule>
    <dxi-validation-rule type="range" 
                         [min]="1" [max]="1000" 
                         message="La quantité doit être comprise entre 1 et 1000"></dxi-validation-rule>
  </dxi-item>

  <dxi-item dataField="description" [editorType]="'dxTextArea'"
  [editorOptions]="{
    placeholder: 'Entrez une description',
    height: 120,
    maxLength: 500
  }"
  (onValueChanged)="onDescriptionChanged($event)">
<dxi-validation-rule type="required" message="La description est obligatoire"></dxi-validation-rule>
<dxi-validation-rule type="stringLength" max="223 " message="La description ne peut pas dépasser 500 caractères"></dxi-validation-rule>
</dxi-item>


        </dx-form>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <button type="button" class="btn btn-outline-secondary me-md-2" style="width: 400px;" (click)="closeAddPopup()">Annuler</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
            <button type="submit" class="btn btn-success me-md-2" style="width: 400px;" (click)="onSubmit()">Ajouter</button>
        </div>
    </div>
</dx-popup>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="showloader"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
></dx-load-panel>