<div class="statistiques-container">
    <div class="card">
      <h2>Statistiques Globales</h2>
      <div class="chart-container">
        <canvas id="canvasStatistiquesGlobales"></canvas>
      </div>
    </div>
  
    <div class="card">
      <h2>Demandes d'Achat par Mois</h2>
      <div class="chart-container">
        <canvas id="canvasDemandesAchatParMois"></canvas>
      </div>
    </div>
    <div class="card">
      <h2>Demandes d'Achat par statut</h2>
      <div class="chart-container">
        <canvas id="canvasDemandesAchatParStatut"></canvas>
      </div>
    </div>
  
    <div class="card">
      <h2>Bons de Commande par Mois</h2>
      <div class="chart-container">
        <canvas id="canvasBonsCommandeParMois"></canvas>
      </div>
    </div>
  
    <div class="card">
      <h2>Offres par Mois</h2>
      <div class="chart-container">
        <canvas id="canvasOffresParMois"></canvas>
      </div>
    </div>
  
    <div class="card">
      <h2>Demandes d'Achat par Région</h2>
      <div class="chart-container">
        <canvas id="canvasDemandesAchatParRegion"></canvas>
      </div>
    </div>
  </div>
  