<div class="card-list">
  <dx-data-grid
  #dataGridDemande
      [showBorders]="true"
      [allowColumnResizing]="true"
      id="gridContainer"
  (onToolbarPreparing)="onToolbarPreparing($event)"
      [columnAutoWidth]="true"
      [dataSource]="dataSourceElement"
      [remoteOperations]="{filtering: false, grouping: false, sorting: false, paging: true}"
  [rowAlternationEnabled]="true"
  [showColumnLines]="true"
  (onRowDblClick)="getOffre($event)"
      keyExpr="id"
  id="dataGridDemande"
  class="dataGridDemande"
>
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-group-panel [visible]="true"></dxo-group-panel>
<dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="pageSize" [pageIndex]="0"></dxo-paging>
  <dxi-column dataField="nom" dataType="string"></dxi-column>
  <dxi-column dataField="referenceoffre" dataType="string"></dxi-column>
  <dxi-column dataField="description" dataType="string"></dxi-column>
  <dxi-column dataField="dateoffre" dataType="date"></dxi-column>
  <dxi-column dataField="prix" dataType="number" [customizeText]="customizeTotalText" ></dxi-column>
  <dxi-column dataField="fournisseur.nom"  caption="Fournisseur"></dxi-column>

  <dxo-master-detail     [enabled]="true"
  [enabled]="true" template="detail"></dxo-master-detail>
  <div *dxTemplate="let offre of 'detail'">
    <div class="master-detail-caption">{{
     "voici l'offre " + offre.data.nom + " du réference " + offre.data.referenceoffre + " avec le prix du " + offre.data.prix +" dt"
    }}</div>
    <app-hover-offre (scrollToDetails)="scrollToProductDetails()" [offreId]="offre.data.id"   (produitDejaSelectionne)="onProduitDejaSelectionne($event)"
    (produitOffertSelected)="onProduitOffertSelected($event)"></app-hover-offre>
  </div>

  <!--div *dxTemplate="let data of 'ExportPDF'">
      <dx-button (onClick)="exportGrid()" hint="{{ 'exportPDF' | translate }}" icon="exportpdf"
                 id="exportButton"></dx-button>
  </div-->
  <dxo-pager
          [allowedPageSizes]="allowedPageSizes"
          [showInfo]="true"
          [showPageSizeSelector]="true"
          [visible]="true"
          displayMode="full"
          [showNavigationButtons]="true"
  ></dxo-pager>
</dx-data-grid>
<div  *ngIf="produitOffertSelectionne.length > 0" class="demande-details mt-5">
  <h3 class="demande-titre">Produits offerts sélectionnés</h3>
  <div class="row">
    <div class="col-md-4" *ngFor="let produit of produitOffertSelectionne">
      <div class="card mb-4">
      
        <div class="d-flex justify-content-center"> <!-- Centrer l'image -->
          <img class="card-img-top" src="assets/img/{{produit.img}}" style="width: 290px; height: 200px;" alt="Card image cap">
        </div>        
        <div class="card-body">
          <h5 class="card-title">{{ produit.nom }} de l'offre {{produit.offre.nom}}</h5>
          <p class="card-text">{{ produit.description }}</p>
          <p>Prix: {{ produit.prix }} dt</p>
          <div class="d-flex justify-content-between align-items-center"> <!-- Flex pour la quantité et la poubelle -->
            <span>Quantité: {{ produit.quantite }}</span>
            <a title="Supprimer" (click)="removeProduitOffert(produit)">
              <i class="fa fa-trash" style="color:#a63a3a;"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <button
  (click)="goBC()"
  class="btn btn-success btn-rounded mb-1 mr-1"
    mdbRipple
    style="font-weight: bold; color: white; margin-left: 945px;"
    type="button">
   Créer un bon de commande
    </button>
</div>

<dx-popup
      [maxWidth]="940"
      [width]="500"
      [height]="'auto'"
      [showTitle]="true"
      title="Confirmation de la suppression"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupDeleteVisible">
  <div>
      <p> Êtes-vous sûr de vouloir supprimer cet élément ? </p>
  </div>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <button type="button" class="btn btn-outline-secondary me-md-2"
                  (click)="fermerPopup()">Annuler
          </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 alignRight">
          <button type="submit" class="btn btn-success me-md-2"
                  (click)="deletedemande()">Confirmer
          </button>
      </div>
  </div>
</dx-popup>

</div>
<div class="produit-details"></div>