.small-input {
    width: 100%; /* Ensures input takes full width of the column */
}

.textarea-input {
    width: 100%; /* Ensures textarea takes full width of the column */
}

.tiny-input {
    width: 100%; /* Ensures input takes full width of the column */
}